body {
    display: flex;
    justify-content: center;
}

/* for testing only, remove at the end */
#container {
    display:flex;
    height: 960px;
    width: 960px;
    border-style: dashed;
    border-color: purple;
}

.square {
    border-style: solid;
    border-width: 5px;
    border-color: black;
    height: 55px;
    width: 55px;
}