body {
    display: flex;
    justify-content: center;
    flex-wrap: row wrap;
}

#container {
    display:flex;
    height: 960px;
    width: 960px;
    justify-content: center;
    flex-wrap: wrap;
}

.square {
    outline-style: solid;
    outline-width: 5px;
    outline-color: black;
    margin: 0;
    height: 60px;
    width: 60px;
    flex: 1 1 auto;
}